.header {    
    padding-bottom: 5px;
}

h1.header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16;
}

.about {
    padding-bottom: 20px;
}

.list {
    margin-top: 0;
    margin-bottom: 0;
}

div {
    margin-left:10px;
}

a:visited {
color: blue;
}

a:hover {
color: darkblue;
}

a:active {
color: blue;
}